.map {
  $parent: &;
  width: 100vw;
  height: 100vh;
  position: relative;

  &-loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #{$parent} {
    &__overlay {
      inset: 0;
      position: absolute;
      pointer-events: none;
      background-color: rgba(#000, 0.5);
      transition: all ease-in-out 250ms;

      &.-hide {
        bottom: 81vh;
        background-color: rgba(#000, 0.35);
      }
    }

    &__autocomplete {
      height: 2.5rem;

      &-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 1rem;
        bottom: 1rem;
        width: 30rem;
        text-align: center;
        height: max-content;
        transform: translateY(-4rem);
        transition: all ease-in-out 250ms;

        &.-in {
          bottom: 70vh;
        }

        &__ttl {
          color: #fff;
          line-height: 0.75;
          text-decoration: underline;
          font-family: "Mochiy Pop P One", sans-serif;
        }

        &__desc {
          color: #fff;
          font-family: "Poppins", sans-serif;
        }
      }
    }
  }
}
